@import "../../app.scss";

.hero {
  // height: calc(100vh - 100px);

  background-color: white;

  overflow: hidden;
  position: relative;
  @include desktop {
    margin-left: 10rem;
  }
  @include mobile {
    margin-left: 0;
  }

  .wrapper {
    max-width: 1366px;
    // height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      color: #253238;
      @include tablet {
        width: 100%;
      }

      @include mobile {
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }
    }

    h2 {
      font-size: 50px;
      letter-spacing: 3px;
      margin-top: 74px;

      @include mobile {
        font-size: 38px;
        margin-top: 150px;
      }
    }
    p {
      font-size: 25px;
      width: 70%;
      font-weight: 300;
      line-height: 1.7;
      @include mobile {
        font-size: 28px;
      }
    }

    .buttons {
      .button {
        padding: 20px;
        border: 1px solid #253238;
        border-radius: 10px;
        background-color: transparent;
        color: #253238;
        margin-right: 20px;
        font-weight: 300;
        cursor: pointer;

        &:hover {
          color: #f99e65;
          border: 1px solid #f99e65;
        }
      }
    }
    a {
      cursor: pointer;
    }

    img {
      width: 30px;
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 20%;
    right: 20%;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }
    img {
      width: 60%;
      object-fit: cover;
      @include tablet {
        display: none;
      }
    }
  }
  .slidingTxtContainer {
    position: absolute;
    font-size: 35vh;
    bottom: -60px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}

.social {
  display: flex;
  gap: 15px;

  img {
    width: 30px;
    height: 30px;
  }
}
