* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: "monospace";
  font-family: "roboto";
  font-family: monospace;
}

body {
  // background-color: #0c0c1d;
  color: #253238;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

@mixin mobile {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1120px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
